

@@ -107,27 +107,49 @@ footer {
text-align: center;
   background: #666;
   border-top: 8px solid #4aaaa5;
   height: 50px;
 }
 img, #imgContainer {
   width: 100px;
   height:100px;
 }
 h3, h2 {
 /* sidebar */
 
 .sidebar {
   float: right;
   width: 100%;
   max-width: 270px;
   padding: 30px;
   margin-bottom: 20px;
   background: #fff;
   border: 1px solid #ddd;
 }
 
 h3,
 .sidebar h2 {
   padding-bottom: 20px;
   margin-bottom: 15px;
   line-height: 22px;
   border-bottom: 2px solid #eee;
 }
 
 .social {
   width: 62px;
   height: 62px;
   margin-top: 8px;
   margin-right: 5px;
 }
 
 .social:last-child {
   margin-right: 0;
 }
 
 /* main */
 
 #main-container {
   padding-top: 130px;
   min-height: calc(100vh - 70px);
 }
 
 .main-section {
   float: left;
   width: 100%;
   max-width: 960px;
   max-width: 650px;
   padding: 30px;
   margin: 0 0 40px;
   background: #fff;